<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='style.css') }}">
</head>
<body>
    <table>
        <tr>
            <th>LastName</th>
            <th>Firstname</th>
            <th>Full name</th>
        </tr>
        <tbody>
            {% for i in range(user|length) %}
            <tr>
                <td>{{user[i]['first_name']}}</td>
                <td>{{user[i]['last_name']}}</td>
                <td>{{user[i]['first_name']}} {{user[i]['last_name']}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>