<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body>
    <h1> Counter</h1>
    <h1>{{count}}</h1>
    <div class="button">
        <form class="" action='/addtwo' >
            <input class="button-29" role="button" type="submit" name="" value="+2">
        </form>

        <form action='/reset'>
            <input class="button-29" role="button" type="submit" name="" value="reset">
        </form>
    </div>
</body>
</html>