<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Great Number Game</title>
        <link rel="stylesheet" href="/static/bootstrap.css">
        <link rel="stylesheet" href="/static/style.css">
    </head>
    <body>
        <div id="main">
            <h4>Welcome to the Great Number Game!</h4>
            <h6>I am thinking of a number between 1 and 100</h6>
            <h5>Take a guess!</h5>
            {% if status == 'low': %}
                <div class="box lose">Too Low!</div>
            {% elif status == 'high': %}
                <div class="box lose">Too High!</div>
            {% elif status == 'lose': %}
                <div class="box lose">
                    <p>You Lose</p>
                    <button type="button"><a href="/destroy_session">Try again?</a></button>
                </div>
            {% elif status == 'win': %}
                <div class="box win">
                    <p>
                        {{ randNum }} was the number!
                        Guess Attempts: {{ guesses }}
                    </p>
                    <button type="button"><a href="/destroy_session">Play again!</a></button>
                </div>
            {% endif %}
            {% if status != 'win' and status != 'lose': %}
            <form action='/guess' method='post'>
                <input type="number" name="guess-value" min="1" max="100">
                <input type="submit" value="Submit">
            </form>
            {% endif %}
        </div>
    </body>
</html>